<!DOCTYPE html>
<html>
	<head>
		<title>Quiz Game</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
	</head>
	<body class="container">
		<h1>
			Quiz Game	

			<a href="highscores" class="btn btn-primary pull-right" style="margin-left:10px">High Scores</a>
			<a href="/" class="btn btn-primary pull-right" style="margin-left:10px">Questions and Answers</a>
		</h1>